$clr_light: #f0f0f0
$clr_white: #fff
$clr_grey1: #999
$clr_grey2: #444
$clr_dark: #292929
$clr_green: #2ecc71
$clr_red: #e74c3c
$clr_dark_green: #16a085
$clr_dark_blue: #34495e
$font_sans: 'Muli', sans-serif
$font_serif: 'Caudex', serif
$font_dense: 'Roboto Condensed', sans-serif
$font_sans_pro: 'Source+Sans+Pro',sans-serif

@mixin transition($transition-time, $transition-property:all, $method:ease-in-out)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

@mixin color_transition($color-from, $color-to)
  // @include transition(0.1s)
  color: $color-from
  &:hover
    color: $color-to

.hover_dark_blue_to_green
  @include color_transition($clr_dark_blue, $clr_dark_green)
  cursor: pointer
a
  @extend .hover_dark_blue_to_green
  text-decoration: none

.button
  background: $clr_green
  padding: 6px 8px
  color: $clr_white
  display: inline-block
  margin: 10px 0
  cursor: pointer
  opacity: 0.8
  &.grey
    background: $clr_grey1
  &.red
    background: $clr_red
  &:hover
    opacity: 1.0
  &:active
    opacity: 0.6

div
  box-sizing: border-box
  -moz-box-sizing: border-box

body
  font-family: $font_sans

textarea
  border: none
  border-bottom: 1px solid $clr_grey2
  outline: none
  font-size: 16px
  line-height: 18px
  padding: 4px
  background: none



