.post_wrapper
  margin: 20px 0
  padding: 20px 0
  border-bottom: 1px solid $clr_grey1
  background: #efefef
  .post
    width: 400px
    height: 400px
    margin: 20px auto
    background-size: cover
    background-position: center
  .reflect
    padding: 20px
    font-size: 19px
    font-family: $font_serif
  .time
    text-align: center
  .trash_post
    margin-left: 10px
    display: inline-block
    cursor: pointer
    opacity: 0.6
    &:hover
      opacity: 1
    i
      pointer-event: none