#wrapper
  margin: 0 auto
#login_panel
  position: fixed
  top: 0
  right: 0
  z-index: 1000
  padding: 20px
  background: none
  display: none
  text-align: right
  #login_button
    vertical-align: top
    display: inline-block
  #logout_button
    vertical-align: top
    display: inline-block
  #restart_button
    vertical-align: top
    display: inline-block
#container
  margin-top: 80px
#footer
  z-index: 1000
  position: fixed
  bottom: 20px
  right: 20px


