- each post in posts
  .post_wrapper
    if post.url
      .post(style= "background-image:url("+ post.url+ ")")
      .post_frame
    else
      .reflect= post.reflect
    if show_time
      .time= post.time
        if allow_delete
          .trash_post(data-id= post.id)
            i.fa.fa-trash-o(data-id= post.id)


