#backdrop
#home_wrapper
  .site_name
    i(style="margin-right:15px").fa.fa-calendar
    | The Creativity Calendar
  .site_intro
    | Tracking, sharing and discovering your creativity progress through one small step everyday.


