#choose_task
  .task_setup_title
    h2 Define your daily creativity task
  .task_setup_guide
    | During each three consecutive days, you can upload an image related to the creativity task you want to do. You'll pause and be prompted to write a reflection about the activities every 3 days. You can either define your own task (right) or use one of our suggested ones (left). You have the option to start a new task if you change your mind anytime, but you'll lose all previous records. You are able to access and share a public profile of your activities and also save the public profile page.

  #option_container
    #given_task_wrapper
      #given_task
        .title Our suggested tasks
        .instr (Click to continue)
        - each task in preset_tasks
          .preset_task= task
    #own_task_wrapper
      #own_task
        .title Choose my own task
        textarea#my_own_task()
      #setup_button
        .button.grey Done

