#wrapper
  #login_panel
    #login_button
      .button Login with FB
      h1 The Ultimate Creativity Tool!
    #logout_button
      .button.grey Logout
    #restart_button
      .button.red Restart
    #hello_msg
  #container

