#wrapper
  #login_panel
    #login_button.to_show
      .button Login with FB
      h1 The Ultimate Creativity Tool!
    #logout_button.to_hide
      .button.grey Logout
    #restart_button.to_hide
      .button.red Restart
    #hello_msg.to_hide
    #user_task.to_hide

  #choose_task.to_setup
    center
      h2 setup
    #own_task_wrapper
      #own_task
        h3 Choose my own task
        textarea#my_own_task()
    #given_task_wrapper
      #given_task
        h3 Or use preset tasks
        li sda wqeqoiw jqowej oiqwe
    center
      #setup_button
        .button Done


  center
    #reflection_wrapper.to_reflect
      h3 Time to reflect
      center
        textarea#my_reflection(placeholder="Reflection (required)")
        #submit_reflection.button Submit
  center
    #image_upload_wrapper.to_hide.to_upload
      input#jq_image_upload(type="file",name="file")
      #image_upload_icon
        i.fa.fa-upload
        br
        #image_upload_progress


  #previous_activities.to_hide

