#wrapper
  #login_panel
    #login_button
      .button
        i.fa.fa-facebook-square
        | Login with Facebook
    #logout_button
      .button.red Logout
    #restart_button
      .button.red Start a new task
  #container
  #footer
    span
      a(href="mailto:bwang29@gmail.com") contact

